.catalog {
    padding: 1.5rem 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: var(--text, #1d3557);
    
  
    h2 {
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 1rem;
      text-align: center;
      color: #1d3557;
    }
  
    .search-bar {
      display: grid;
      gap: 0.6rem;
      grid-template-columns: 1fr;
  
      input {
        padding: 0.8rem 1rem;
        border: 2px solid #1d3557;
        border-radius: 12px;
        background-color: #fff;
        color: #1d3557;
        font-size: 1rem;
        outline: none;
        transition: border 0.2s ease, box-shadow 0.2s ease;
  
        &:focus {
          border-color: #1d3557;
          box-shadow: 0 0 0 3px rgba(0, 113, 227, 0.15);
        }
      }
  
      .categories {
        display: flex;
        gap: 0.4rem;
        flex-wrap: wrap;
  
        .btn--outline {
          padding: 0.5rem 1rem;
          border-radius: 8px;
          border: 2px solid #1d3557;
          background: #fff;
          color: #1d3557;
          font-size: 0.95rem;
          cursor: pointer;
          transition: all 0.2s ease;
  
          &.active {
            background-color: #1d3557;
            color: #fff;
            border-color: #1d3557;
          }
  
          &:hover {
            background-color: rgba(0, 113, 227, 0.1);
          }
        }
      }
    }
  
    .product-grid {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr; /* mobile */
      
        @media(min-width: 500px) {
          grid-template-columns: repeat(2, 1fr);
        }
      
        @media(min-width: 768px) {
          grid-template-columns: repeat(3, 1fr);
        }
      
        @media(min-width: 1024px) {
          grid-template-columns: repeat(4, 1fr); /* 4 produits en desktop */
        }
      }
      
  
    @media (min-width: 768px) {
      h2 {
        text-align: left;
      }
  
      .search-bar {
        grid-template-columns: 1fr auto;
        align-items: center;
  
        .categories {
          justify-content: flex-start;
        }
      }
    }
  }
  