/* src/pages/home.scss */

.home {
  background-color: #EBF1F9;
  /* ======== SECTION PRODUITS POPULAIRES ======== */
  &__featured {
    margin: 2rem 0;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      color: #1d3557;
    }

    .grid {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr; // mobile: 1 produit par ligne
      @media screen and (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    .home__cta {
      display: flex;
      flex-direction: column;
      align-items: center;
      .btn {
        text-align: center;
        margin-top: 1rem;
        color: #111;
        border-radius: 2rem;
        padding: 1rem;
        text-decoration: none;
        background-color: #E32236;
        color: #fff;

        &:hover {
          background-color: #e9c46a;
          color: #fff;
          transition: background-color 0.3s ease, color 0.3s ease;
        }
      }
    }
  }
}
