/* src/pages/home.scss */

.home {
  background-color: #ebf1f9;
  /* ======== SECTION PRODUITS POPULAIRES ======== */
  &__featured {
    margin: 2rem 0;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      color: #1d3557;
    }

    .grid {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr; // mobile: 1 produit par ligne
      @media screen and (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    .home__cta {
      display: flex;
      flex-direction: column;
      align-items: center;
      .btn {
        text-align: center;
        margin-top: 1rem;
        color: #e32236;
        border: #e32236 2px solid;
        border-radius: 2rem;
        padding: 1rem;
        text-decoration: none;
        background-color: #f9f9f9;

        &:hover {
          background-color: #1d3557;
          border: #fff 2px solid;

          color: #fff;
          transition: background-color 0.3s ease, color 0.3s ease;
        }
      }
    }
  }
}
