.payment {
  &__layout {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 0.8fr;
    margin: 2rem 0;

    @media (max-width: 900px) {
      grid-template-columns: 1fr;
    }
  }

  &__section {
    background: #fff;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  &__section-title {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  &__methods {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    .payment__method {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: 500;
    }
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .field {
      display: flex;
      flex-direction: column;

      &--inline {
        display: flex;
        gap: 1rem;

        input {
          width: 100%;
        }
      }

      label {
        margin-bottom: 0.4rem;
        font-size: 0.9rem;
        font-weight: 500;
      }

      input {
        padding: 0.6rem 0.8rem;
        border: 1px solid #ccc;
        border-radius: 6px;

        &:focus {
          border-color: #000;
          outline: none;
        }
      }
    }
  }
  .payment__submit {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    text-decoration: none;
    background-color: #e9c46a;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    border: none;
    font-weight: 600;

    &:hover {
      background-color: #1d3557;
      transition: all 0.3s ease;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;

    &-img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 6px;
    }

    &-info {
      flex: 1;
    }

    &-price {
      font-weight: 600;
    }
  }

  &__totals {
    margin-top: 1rem;
    font-size: 0.95rem;

    .payment__divider {
      height: 1px;
      background: #ddd;
      margin: 0.8rem 0;
    }

    .payment__total {
      font-size: 1.1rem;
      font-weight: 600;
    }
  }

  &__note {
    font-size: 0.8rem;
    color: #777;
    margin-top: 0.8rem;
  }

  &__success {
    text-align: center;
    padding:1rem;
    margin-top: 2rem;

    h2 {
      margin-bottom: 0.5rem;
    }

    p {
      margin-bottom: 1rem;
    }
    button {
      background-color: #1d3557;
      color: #fff;
      padding: 0.8rem 1.5rem;
      border-radius: 8px;
      border: none;
      font-weight: 600;
      cursor: pointer;
      margin-bottom: 1rem;
    }
  }

  &__empty {
    text-align: center;
    margin-bottom: 1rem;
  }
}
