.mapSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem 1.5rem;
    background: #c1121f;
  
    &__content {
      max-width: 600px;
      text-align: center;
    }
  
    &__title {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: #fff;
      @media screen and (min-width: 768px) {
        font-size: 3rem;
        margin-bottom: 1.5rem;
        line-height: 1.2;
        letter-spacing: 0.5px;
      }
      @media screen and (min-width: 1024px) {
        font-size: 3.5rem;
        
      }
    }
  
    &__text {
      font-size: 1rem;
      color: #fff;
      line-height: 1.6;
    }
  
    &__mapWrapper {
      width: 100%;
      max-width: 900px;
      border-radius: 12px;
      overflow: hidden;
  
      iframe {
        width: 100%;
        height: 400px;
        border: solid 2px #1D3557;
        border-radius: 12px;


      }
    }
  
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
      text-align: left;
  
      &__content {
        flex: 1;
        padding-right: 2rem;
      }
  
      &__mapWrapper {
        flex: 1;
      }
    }
  }
  